---
Checks: '*,-android-cloexec-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-cstyle-cast,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-static-cast-downcast,-cppcoreguidelines-pro-type-vararg,-fuchsia-*,-google-readability-casting,-google-readability-todo,-hicpp-no-array-decay,-hicpp-vararg,-llvm-include-order,-llvm-header-guard,-modernize-make-unique,-modernize-use-trailing-return-type,-readability-implicit-bool-conversion,-readability-named-parameter,-readability-magic-numbers'
#
#  cppcoreguidelines-pro-type-cstyle-cast
#  google-build-using-namespace
#  google-readability-casting
#  llvm-include-order
#  readability-named-parameter
#    Differ from our style guidelines
#
#  android-cloexec-*
#    O_CLOEXEC isn't available on Windows
#
#  cppcoreguidelines-avoid-magic-numbers
#  readability-magic-numbers
#    We have a lot of these and should probably at least fix some. But remove
#    it for the time being because with it we can't see the forest for the
#    trees. (TODO)
#
#  cppcoreguidelines-owning-memory
#  cppcoreguidelines-pro-bounds-array-to-pointer-decay
#  cppcoreguidelines-pro-bounds-pointer-arithmetic
#  cppcoreguidelines-pro-type-static-cast-downcast
#  cppcoreguidelines-pro-type-vararg
#  hicpp-no-array-decay
#  hicpp-vararg
#    When you need them, you need them
#
#  fuchsia-*
#    Very specific and way too strict
#
#  google-readability-todo
#    We are not that organized
#
#  llvm-header-guard
#    Not our style
#
#  modernize-make-unique
#    Not available in C++11
#
#  modernize-use-trailing-return-type
#    We are not that modern...
#
#  readability-implicit-bool-conversion
#    Readability is a matter of opinion here
#
#WarningsAsErrors: '*'
HeaderFilterRegex: '\/src\/'
...
