*.o
*~
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
compile
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
nodecachefilereader
osm2pgsql

contrib/protobuf/osmpbf/fileformat.pb.h
contrib/protobuf/osmpbf/osmformat.pb.h
fileformat.pb.cc
fileformat.pb.h
osmformat.pb.cc
osmformat.pb.h


Makefile
config.h
config.log
config.nice
config.status
libtool
.deps/
stamp-h1
INSTALL

log
test-driver
test-suite.log
tests/.dirstamp
tests/test-parse-xml2
tests/test-middle-ram
tests/test-middle-pgsql
tests/test-middle-flat
tests/test-pgsql-escape
tests/test-parse-options
tests/test-output-multi-tags
tests/test-output-multi-line
tests/test-output-multi-line-storage
tests/test-output-multi-point
tests/test-output-multi-point-multi-table
tests/test-output-multi-polygon
tests/test-output-multi-poly-trivial
tests/test-output-pgsql
tests/test-output-pgsql-tablespace
tests/test-output-pgsql-z_order
tests/test-expire-tiles
tests/test-hstore-match-only
tests/*.log
tests/*.trs
tests/*.flat.nodes.bin

.libs/
*.lo
libosm2pgsql.la
