Source: osm2pgsql
Section: utils
Priority: optional
Maintainer: Frederik Ramm <frederik@remote.org>
Build-Depends: debhelper (>= 7), libgeos-dev, libxml2-dev, libpq-dev, proj | libproj0, libbz2-dev, automake, autoconf, libtool, protobuf-c-compiler, libprotobuf-c0-dev
Standards-Version: 3.9.3

Package: osm2pgsql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: postgresql, postgresql-8.4-postgis | postgresql-9.1-postgis, openstreetmap-postgis-db-setup
Conflicts:  openstreetmap-utils
Description: Openstreetmap data to PostgreSQL converter
 osm2pgsql imports OpenStreetMap data into a PostGIS database.

Package: openstreetmap-postgis-db-setup
Architecture: all
Depends: ${misc:Depends}, debconf, postgis, postgresql-8.4-postgis | postgresql-9.1-postgis, postgresql-contrib
Recommends: osm2pgsql
Suggests: libapache2-mod-tile, openstreetmap-mapnik-data
Description: Provides setup scripts to create a postgis database for OpenStreetMap
 The database can be used with e.g. osm2pgsql to load data and mapnik for rendering
 It sets up a database named 'gis'
