#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high openstreetmap-postgis-db-setup/initdb || true
db_input high openstreetmap-postgis-db-setup/dbname || true
db_input high openstreetmap-postgis-db-setup/grant_user || true
db_go || true

db_get openstreetmap-postgis-db-setup/initdb || true
INIT_DB=$RET
db_get openstreetmap-postgis-db-setup/grant_user || true
GRANT_USER=$RET

cat <<EOF > /etc/default/openstreetmap-postgis-db-setup
# Default settings for openstreetmap-mapnik-data
INIT_DB="$INIT_DB"
GRANT_USER="$GRANT_USER"
EOF

